#jsalarmclock{
font-family: Tahoma;
font-weight: bold;
font-size: 18px;
text-align: center;
}

#jsalarmclock div{
margin-bottom: 0.8em;
}

#jsalarmclock div.leftcolumn{
float: center;
width: 150px;
font-size: 18px;
clear: left;
/*background-color: lightyellow;
text-align: center;*/
}

#jsalarmclock span{
margin-right: 5px;
}

.text {
	color:white;
    font-size: 20px;
    font-weight: lighter;
    padding: 0;
    text-align: center;
}
