#cuerpo {
        background-color: #16a085;
        border: 1px solid white;
        font: 14px Arial;
}

.Pie {
	background-color: #2aa3c8;
    /*height:60px;*/
    color:white;
    font-size: 24px;
    font-weight: lighter;
    padding: 0;
    text-align: center;
}

.list {
    background: #8e44ad;
    margin-top: 2px;
    padding: 18px 42px 17px 25px;
    position: relative;
    transition: all 0.25s ease 0s;
    cursor: pointer;
    color: white;
     
}

