ul {
	background-color:#2ecc71;
	color:orange;
	text-align:center;
}

body {
        background-color: #1abc9c;
        font: 14px Arial;
      }
      
body a {
        background-color: #16a085;
        text-decoration: none;
      }


.todo-search {
    position: relative;
    background: none repeat scroll 0% 0% / 16px 16px rgb(26, 188, 156);
    border-radius: 6px 6px 0px 0px;
    color: rgb(52, 73, 94);
    padding: 19px 25px 20px;
}

input.todo-search-field {
    border: medium none;
    color: rgb(52, 73, 94);
    font-size: 19px;
    box-shadow: none;
    margin: 0px;
    line-height: 23px;
    padding: 5px 0px;
    text-indent: 0px;
    font-weight: 700;
    background: none repeat scroll 0% 0% transparent;
}

.todo li {
    background: url("../images/todo/todo.png") no-repeat scroll 92% center / 20px 20px rgb(52, 73, 94);
    margin-top: 2px;
    padding: 18px 42px 17px 25px;
    position: relative;
    transition: all 0.25s ease 0s;
    cursor: pointer;
}